<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>QinQin</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main2.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_sl4e9z50nwvr6bt9.css">
</head>
<body>
<header class="header">
    <div class="header_inner">
        <div class="header_logo">
            <a href="../index.html"><h1>青青子衿</h1></a>
        </div>
        <div class="header_content">
            <div class="header_content_left"></div>
            <div class="header_content_right">
                <div class="table_cell_wrapper">
                    <div class="searchBar">
                        <input type="text" placeholder="查找问题">
                    </div>
                </div>
                <div class="table_cell_wrapper">
                    <div class="user_bar">
                        <img src="../img/user2.png" class="user_icon" alt="">
                        <!--<div class="user_icon"></div>-->
                    </div>
                </div>
                <div class="table_cell_wrapper">
                    <div class="askBar">
                        <button id="showAskDialog" class="ask_button">提问</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="content_wrapper">
    <div class="content_item">
        <div class="content_inner">
            <div class="item_header">
                <div class="item_header_info"><span>来自话题: 生活方式</span><span>• </span><span>15 小时前</span></div>
                <h2><a>普通人跟职业运动员到底有多大差距？</a></h2>
                <div class="item_header_user"><span class="user_name">匿名用户</span><span>,</span><span>用户介绍</span></div>
            </div>
            <div class="item_main_content">
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
            </div>
            <div class="item_footer">
                <div class="left"><span><a href="">关注问题</a></span><span>• </span><span>111条回答</span></div>
                <div class="right"><span><a href="">修改问题</a></span><span><a class="delete" href="">删除</a></span></div>
            </div>
        </div>
    </div>
    <div class="content_info">
        <a class="pointer"  id="showAnsDialog">对于这个问题，我的看法是......</a>
    </div>
    <div class="content_item">
        <div class="content_inner">
            <div class="item_header clearfix">
                <div class="detail_item_header_user"><span class="user_name">小明</span><span>,</span><span>短跑冠军，世界第一</span></div>
                <div class="start" >
                    <ul id="star_select2"></ul>
                </div>
            </div>
            <div class="item_main_content text_indent_two" >
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
            </div>
        </div>
        <div class="content_inner">
            <div class="item_header clearfix">
                <div class="detail_item_header_user"><span class="user_name">小王</span><span>,</span><span>足球冠军，世界第一</span></div>
                <div class="start" >
                    <ul id="star_select">
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                    </ul>
                </div>
            </div>
            <div class="item_main_content text_indent_two" >
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
            </div>

        </div>
        <div class="content_inner">
            <div class="item_header clearfix">
                <div class="detail_item_header_user"><span class="user_name">又有刁民欲害朕</span><span>,</span><span>短跑冠军，世界第一</span></div>
                <div class="start">
                    <ul>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                    </ul>
                </div>
            </div>
            <div class="item_main_content text_indent_two" >
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
            </div>

        </div>
        <div class="content_inner">
            <div class="item_header clearfix">
                <div class="detail_item_header_user"><span class="user_name">小明</span><span>,</span><span>短跑冠军，世界第一</span></div>
                <div class="start">
                    <ul>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                        <li class="star_unselect">&#xe623;</li>
                    </ul>
                </div>
            </div>
            <div class="item_main_content text_indent_two" >
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
                像打乒乓球、下象棋、下围棋、拳击、散打这种对抗性很强的项目，普通人跟国家级职业运动员差距有多大。
                职业运动员到底是个什么概念，有多强大，一个普通的业余爱好者，跟他们比赛是什么感觉？完全没有赢他们的机会吗？
            </div>

        </div>
    </div>

</div>
<div class="modal" id="addQuesModal">
    <div class="modal_overlay" id="ask_question">
        <div class="modal_wrapper">
            <div class="model_header">
                <div><h2>提问</h2></div>
                <div id="closeAskDialog2"><span class="closs_icon " >&#xe641;</span></div>
            </div>
            <div class="model_content">
                <input class="question" type="text" placeholder="写下你的问题">
                <label for="question_main">问题说明：</label>
                <textarea name="question_main" id="question_main" cols="30" rows="5"></textarea>
            </div>
            <div class="model_footer">
                <a class="btn_cancel" href="" id="closeAskDialog">取消</a>
                <button class="btn_save">发布</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="ansQuesModal">
    <div class="modal_overlay" id="ask_question">
        <div class="modal_wrapper">
            <div class="model_header">
                <div><h2>回答问题</h2></div>
                <div id="closeAnsDialog2"><span class="closs_icon " >&#xe641;</span></div>
            </div>
            <div class="model_content">
                <!--<input class="question" type="text" placeholder="写下你的问题">-->
                <label for="question_main">我的回答：</label>
                <textarea name="question_main" id="question_main" cols="30" rows="5"></textarea>
            </div>
            <div class="model_footer">
                <a class="btn_cancel" href="" id="closeAnsDialog">取消</a>
                <button class="btn_save">确定</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../js/detail.js"></script>
</body>
</html>